.devicon {
    font-size: 50px;
    max-width: 85%;
    min-width: 45%;
    overflow-x: scroll;
    padding: 4px;
    border: 1px solid rgba( 255, 255, 255, .5 );
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.devicon>i {
    text-align: center;
    padding: 14px;
}